body{
    background-color: purple;
    text-align: left;
    padding: 3%;
}
h1 {
    font-size: 30px;
    color: black;
}

.personal {
    color: rgb(3, 214, 3);
}

.merfolk{
    color: turquoise;
}
:visited{
    color: black;
}
a{
    color: black;
    
}